.flex-horizontal {
  display: flex;
  justify-content: space-evenly;
}

.flex-align-center {
  align-items: center;
}

.reveal .list {
  margin-right: auto;
  list-style: none;
}

.font-36 {
  font-size: 36px;
}

.font-24 {
  font-size: 24px;
}

.color-green {
  color: #008800
}

.width-half {
  width: 45%;
}

.width-quater {
  width: 25%;
}